body {
  margin: 0%;
  height: 100%;
  font-family: 'Roboto';
}

nav {
  padding: 2%;
}

.button {
  border: none;
  background: rgb(255, 0, 0);
  padding: 12px 30px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  display:inline-block;
  width: 150px;
  margin: 4px 2px;
  cursor: pointer;
  transition: .4s;
}

ul {
  text-align: center;
    margin-left: 1%;
    margin-right: 3.5%;
  }

.bg {
  background:url(../img/img4.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  text-align: center;
}

#game-logo {
  border-radius: 20%;
}

img {
  border-radius: 20%;
  max-width: 50%;
  height:auto;
}

form{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

h2{
  text-align: center;
  font-family: 'Roboto';
}

div{
  display: inline-block;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px

}

fieldset {
  background-color: black;
  color:white;
}

legend {
  background-color: black;
  color: white;
  padding: 5px 10px;
}

form {
  padding-top:2.5%;
}

article {
  background-color: white;
  color: black;
  padding: 1px;
  margin-top: 15px;
  align-items: center;
}

section {
  background-color: rgb(0, 0, 0);
  color: white;  
  padding: 5px;
  border: 10px solid black;
  /* margin-top: 1px; */
  align-items: center;
}
.solution-container {
  border: 10px solid rgb(218, 18, 18);
  padding: 10px;
}
